
/* == base.html style == */

/* .sidebar{
    width:40%;
    height:20%;
    background-color: lightblue;
}

.content {
    width:40%;
    height:20%;
    background-color: lightgreen;
} */



/* ====== home page ===== */

.content-container {
    height: 100%;
    width:100%;
    background-color: #806C3F;
}

.intro-title {
    margin-top:10vh;
}

.intro-title, .app-titles {
    width:80%;
    margin: auto;
    font-family: "Questrial";
    text-align: center;
}

.intro-title > h1 {
    font-size: 2rem;
    color: #EDDEDE;
}

.app-titles {
    font-size: 5rem;
/* text-transform: uppercase; */
}

.app-titles > h1:first-child {
    color: #AA8D8D;
}

.app-titles > h1:nth-child(2) {
    color:#FFFFFF;
    font-weight: 500;
    letter-spacing: 0.2rem;
}

/* ====== product page ===== */

.items-container {
    width:80%;
    height:80%;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
}


.item-container {
    height: 25vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border: 1px solid black;
    padding:5%;
    margin: 5%;

}

.item-container h4 {
    height:15%;
}

.item-container h5 {
    background-color: grey;
    height:15%;
    background-color: lightgoldenrodyellow;
    text-align: center;
    border-top:3px solid black;
}